{{#with body[0]}}
<div class="this-is-the-nhs__body">
    {{#each text}}
        <p>{{{this}}}</p>
    {{/each}}
    <div class="this-is-the-nhs__stat-one">
        <img class="this-is-the-nhs__stat-image" src="@@assetPath@@/imgs/stat-image--1.png" />
        <div class="this-is-the-nhs__bar">
            <div class="this-is-the-nhs__circle"></div>
            <h3 class="this-is-the-nhs__stat-number">152</h3>
            <p class="this-is-the-nhs__stat-description">The number of nationalities of doctors working in the NHS</p>
        </div>
    </div>
    <div class="this-is-the-nhs__stat-two">
        <h3 class="this-is-the-nhs__stat-number">2.8</h3>
        <p class="this-is-the-nhs__stat-description">The number of hospital beds per 1,000 people</p>
        <img class="this-is-the-nhs__stat-image" src="@@assetPath@@/imgs/stat-image--2.png" />
    </div>
    <shareContainer media="['facebook','twitter','mail']"/>
</div>
{{/with}}