<div class="this-is-the-nhs__sign-up this-is-the-nhs__sign-up--bottom">
    <img class="this-is-the-nhs__hand-two" src="@@assetPath@@/imgs/hand--footer.jpg" />
    <iframe src="/email/form/plain/3573" height="228px" data-form-title="Sign up for our NHS email" data-form-description="Whether you have a passing interest in the subject or a fascination, have personal experience, or the experience of a family member or loved one, or are a professional, please join in." data-form-campaign-code="NHS_signup_iframe" scrolling="no" seamless="" frameborder="0" class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article max-col-w"></iframe>
    <div class="this-is-the-nhs__arrow this-is-the-nhs__bar">
        <h2 class="this-is-the-nhs__sign-up__title">Sign up to our daily email</h2>
        <p class="this-is-the-nhs__sign-up__description">Unsubscribe in one click</p>
    </div>
    <img class="this-is-the-nhs__footer-image" src="@@assetPath@@/imgs/footer-image.jpg" />
</div>