<div class="this-is-the-nhs__header">
    <img class="this-is-the-nhs__hand-one" src="@@assetPath@@/imgs/hand--header.jpg" />
    <div class="this-is-the-nhs__standfirst this-is-the-nhs__bar">
        <p>The story of one of the most complex organisations in the world, told through the voices of those on the frontline.</p>
        <div class="this-is-the-nhs__circle"></div>
    </div>
    <h1 class="this-is-the-nhs__title">
        <span class="this-is-the-nhs__line this-is-the-nhs__line--one this-is-the-nhs__bar">this is</span>
        <span class="this-is-the-nhs__line this-is-the-nhs__line--two this-is-the-nhs__bar">the NHS</span>
    </h1>
    <div class="this-is-the-nhs__sign-up this-is-the-nhs__sign-up--top">
        <iframe src="/email/form/plain/3573" height="228px" data-form-title="Sign up for our NHS email" data-form-description="Whether you have a passing interest in the subject or a fascination, have personal experience, or the experience of a family member or loved one, or are a professional, please join in." data-form-campaign-code="NHS_signup_iframe" scrolling="no" seamless="" frameborder="0" class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article max-col-w"></iframe>
        <div class="this-is-the-nhs__arrow this-is-the-nhs__bar">
            <h2 class="this-is-the-nhs__sign-up__title">Sign up to our daily email</h2>
            <p class="this-is-the-nhs__sign-up__description">Unsubscribe in one click</p>
        </div>
    </div>
    <img class="this-is-the-nhs__header-image" src="@@assetPath@@/imgs/header-image.png" />
</div>
