<div class="shareButtons">
    <a href="https://twitter.com/intent/tweet?text=This%20is%20the%20NHS&url=http%3A%2F%2Fgu.com%2Fp%2F4ft63%2Fstw" ><button class="share-twitter"></a>
    <a href="https://www.facebook.com/dialog/share?app_id=180444840287&href=http%3A%2F%2Fgu.com%2Fp%2F4ft63%2Fsfb&redirect_uri=http%3A%2F%2Fgu.com%2Fp%2F4ft63" ><button class="share-facebook"></a>
    <a href="mailto:?subject=This%20is%20the%20NHS&body=http%3A%2F%2Fgu.com%2Fp%2F4ft63%2Fsbl" ><button class="share-mail"></a>
</div>

