// Frontend Breakpoints
$mq-breakpoints: (
    mobile:          gs-span(4)  + $gs-gutter,   // 320px
    mobileLandscape: gs-span(6)  + $gs-gutter,   // 480px
    phablet:         gs-span(8)  + $gs-gutter*2, // 660px
    tablet:          gs-span(9)  + $gs-gutter*2, // 740px
    desktop:         gs-span(12) + $gs-gutter*2, // 980px
    leftCol:         gs-span(14) + $gs-gutter*2, // 1140px
    wide:            gs-span(16) + $gs-gutter*2, // 1300px
);

// Font Sizes
@mixin fs-primary() {
    @include fs-headline(2);
    font-weight: 800 !important;

    @include mq(mobileLandscape) {
        @include fs-headline(4);
    }

    @include mq(tablet) {
        @include fs-headline(5);
    }

    @include mq(leftCol) {
        @include fs-headline(6);
    }
}

@mixin fs-secondary() {
    @include fs-header(1);

    @include mq(desktop) {
        @include fs-header(2);
    }
}

@mixin fs-body() {
    @include fs-bodyCopy(1);

    @include mq(tablet) {
        @include fs-bodyCopy(2);
        line-height: 22px;
    }
}

@mixin fs-meta() {
    @include fs-textSans(2);
}

// Colour
$c-black: guss-colour(neutral-1, $pasteup-palette);
$c-blue: guss-colour(news-main-1, $pasteup-palette);
$c-red: #e9212d;
$c-white: #ffffff;

.js-on.is-modern .is-immersive-interactive .content--interactive, .js-on.is-modern .is-immersive-interactive .content--interactive ~ *, .js-on.is-modern .is-immersive-interactive .l-footer {
    display: block;
}
