.this-is-the-nhs__body {
    position: relative;
    max-width: gs-span(8);
    margin: 0 auto;

    @include mq(leftCol) {
        margin-left: gs-span(3);
    }

    p,
    .this-is-the-nhs__stat-one,
    .this-is-the-nhs__stat-two {
        margin-bottom: 1em;
    }
}

.article--standard, .article--immersive {
    padding: 0 10px;
    background-color: $c-white;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
}

.this-is-the-nhs__stat-one {
    @include mq(580px) {
        float: right;
        margin-left: 20px;
    }

    @include mq(tablet) {
        margin-right: -$gs-gutter * 2;
    }

    @include mq(desktop) {
        width: gs-span(5);
        margin-right: -(gs-span(2) + $gs-gutter);
    }

    @include mq(leftCol) {
        width: gs-span(6);
        margin-right: -(gs-span(3) + $gs-gutter * 2);
    }

    .this-is-the-nhs__stat-image {
        display: block;
        height: 140px;
    }

    .this-is-the-nhs__bar {
        position: relative;
        background-color: $c-dark-blue;
        color: $c-white;
        margin-left: 40px;
        margin-right: -$gs-gutter;
        padding-right: $gs-gutter;
    }

    .this-is-the-nhs__stat-number {
        @include fs-primary;
    }

    .this-is-the-nhs__stat-description {
        @include fs-meta;
        position: absolute;
        bottom: -8px;
        left: 97px;
        right: $gs-gutter;
        max-width: 180px;

        @include mq(desktop) {
            left: 135px;
            bottom: -3px;
        }
    }
}

.this-is-the-nhs__stat-two {
    position: relative;
    color: $c-white;
    width: 210px;

    @include mq(400px) {
        float: left;
    }

    @include mq(tablet) {
        margin-left: -$gs-gutter * 3;
    }

    @include mq(desktop) {
        margin-left: -(gs-span(2) + $gs-gutter * 2);
    }

    @include mq(leftCol) {
        margin-left: -(gs-span(3) + $gs-gutter);
    }

    .this-is-the-nhs__stat-number {
        @include fs-primary;
        position: absolute;
        top: 143px;
        left: 4px;
        letter-spacing: -5.2px;
    }

    .this-is-the-nhs__stat-description {
        @include fs-meta;
        position: absolute;
        width: 110px;
        top: 209px;
        left: 4px;

        @include mq(desktop) {
            top: 226px;
        }
    }
}
