.us-election__body-header {
    @include fs-primary();
    margin-top: 3px;
    color: $c-red;
    margin-bottom: 12px;
}

.us-election__body {
    @include fs-body();

    p {
        margin-bottom: 12px;
        max-width: 400px;
    }
}

p.us-election__question {
    color: $c-red;
    margin-bottom: 0;
}