.this-is-the-nhs__sign-up--bottom {
    position: relative;

    @include mq(desktop) {
        margin-bottom: gs-height(3);
    }

    .this-is-the-nhs__arrow {
        background-color: $c-light-blue;
        margin-left: -$gs-gutter;

        @include mq(tablet) {
            margin-left: auto;
            margin-right: -$gs-gutter;
            max-width: gs-span(4);
        }

        @include mq(desktop) {
            max-width: gs-span(6) - $gs-gutter;
        }

        @include mq(leftCol) {
            max-width: gs-span(7);
        }

        @include mq(wide) {
            max-width: gs-span(9)
        }

        &:after {
            border-left-color: $c-light-blue;

            @include mq(tablet) {
                border-left-color: transparent;
                border-right-color: $c-light-blue;
            }
        }
    }

    iframe {
        @include mq(tablet) {
            left: $gs-gutter * 2;
        }

        @include mq(desktop) {
            left: gs-span(2) + $gs-gutter;
        }

        @include mq(leftCol) {
            left: gs-span(3);
        }
    }

    .this-is-the-nhs__footer-image {
        display: none;

        @include mq(desktop) {
            position: absolute;
            top: -407px; // Height of image
            right: -$gs-gutter;
            display: block;
        }
    }

    .this-is-the-nhs__hand-two {
        position: absolute;
        bottom: 0;
        left: -$gs-gutter;
        display: none;

        @include mq(desktop) {
            display: block;
            width: 150px;
            height: auto;
            bottom: -140px;
        }

        @include mq(leftCol) {
            width: 200px;
            top: -30px;
        }
    }
}