.us-election__header {
    background-color: $c-blue;
    color: $c-white;
    padding-top: $gs-baseline;
}

.us-election__logo {
    width: 60%;
    max-width: 460px;

    @include mq(mobileLandscape) {
        left: $gs-gutter;
    }
}

.us-election__bar {
    height: 20px;
    width: 80%;
    background-color: $c-red;

    @include mq(mobileLandscape) {
        height: 32px;
    }

    @include mq(tablet) {
        height: 40px;
        width: 580px;
    }
}

.us-election__bar--1 {
    position: relative;
    margin-left: 30%;

    &:before {
        position: absolute;
        top: -300px;
        right: 0;
        content: '';
        width: 64%;
        height: 300px;
        background-image: url("@@assetPath@@/imgs/people--mobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
    }
}

.us-election__bar--2 {
    margin-left: 9%;
    width: 70%;
}

.us-election__bar--3 {
    margin-left: -10%;
}

.us-election__bar--4 {
    margin-left: 27%;
}

.us-election__bar--5 {
    position: absolute;
    bottom: -10px;
    margin-top: 10px;
    margin-left: -40%;

    @include mq(mobileLandscape) {
        bottom: -16px;
    }
}

.us-election__bar--6 {
    margin-left: 30%;
}

.us-election__bar--7 {
    width: 70%;
    margin-left: 10%;
}

.us-election__tagline {
    @include fs-primary();
    display: block;
    clear: both;
    margin: 6px 0;
}

.us-election__tagline--1 {
    text-indent: 10%;
}

.us-election__tagline--2 {
    text-indent: 24%;
}

.us-election__tagline--3 {
    text-indent: 3%;
}

.us-election__description {
    margin-top: 6px;
    padding-bottom: 32px;
    @include fs-body();
    max-width: 400px;

    @include mq(mobileLandscape) {
        padding-bottom: 48px;
    }
}

.us-election__header-2 {
    @include mq(tablet) {
        background-color: $c-blue;
    }

    iframe {
        margin-bottom: -10px;
        max-width: 280px;

        @include mq(mobileLandscape) {
            margin-top: 12px;
            max-width: 280px;
        }
    }
}

.us-election__subtitle {
    @include fs-secondary();
    color: $c-blue;

    @include mq(mobileLandscape) {
        float: left;
    }
}

.us-election__subtitle--1 {
    margin: 12px 0;

    @include mq(mobileLandscape) {
        margin-top: 24px;
        margin-right: $gs-gutter;
    }
}

.us-election__subtitle--2 {
    margin: 3px 0 12px;

    @include mq(mobileLandscape) {
        margin-top: $gs-baseline;
        margin-right: 3px;
    }
}

.us-election__apps {
    margin: $gs-baseline 0;
}
