.shareButtons {
    position: relative;
    z-index: 10;
    font-size: 0;

    button {
        height: 30px;
        width: 30px;
        border-radius: 34px;
        background: #333;
        display: inline-block;
        border: none;
        cursor: pointer;
        outline: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 28px;
        margin: 0 2px;

        &.share-facebook {
            background-color: #3067a3;
            background-image: url("@@assetPath@@/imgs/facebook.svg");

            &:hover {
                background-color: #1B497B;
            }
        }

        &.share-twitter {
            background-color: #03b3ee;
            background-image: url("@@assetPath@@/imgs/twitter.svg");

            &:hover {
                background-color: #129FCE;
            }
        }

        &.share-mail {
            background-color: #767676;
            background-image: url("@@assetPath@@/imgs/mail.svg");

            &:hover {
                background-color: #555;
            }
        }
    }
}